# Python
*.pyc
*.pyo
__pycache__/
*.egg-info/

# Environment & Secrets
.env
.env.test
.env.local

# Database
*.sqlite3
*.db

# Logs
*.log

# Virtual Environment
venv/
env/
.venv/

# Editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/
